@import 'tailwindcss';
@import './design-system.css';

:root {
  font-family: var(--font-sans);
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-normal);

  color-scheme: light dark;
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: #e5e7eb !important;
  color: #374151 !important;
  -webkit-text-fill-color: #374151 !important;
  transition: background-color 5000s ease-in-out 0s;
}

td > select {
  width: 100%;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: #18181b;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
  border-radius: 0;
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 #18181b;
}
